@model EmployeeTasks

<form method="post">
    <div class="border p-2 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary">Add Task</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="TaskName"></label>
            <input asp-for="TaskName" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="TaskDescription"></label>
            <input asp-for="TaskDescription" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="TaskDate"></label>
            <input asp-for="TaskDate" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" stlye="width:150px">Add Task</button>
        <a asp-controller="EmployeeTasks" asp-action="Index" class="btn btn-secondary" style="width:150px">Return to Tasks</a>
    </div>
</form>

