@model EmployeeTasks

@{
    ViewData["Title"] = "Add Tasks";
}

<form method="post">
    <div class="border p-2 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary">Add Tasks</h2>
            <hr />
            <div asp-validation-summary="All"></div>
        </div>
        <div class="mb-3">
            <label asp-for="TaskName">Task</label>
            <input asp-for="TaskName" type="text" class="form-control" required/>
            <span asp-validation-for="TaskName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TaskDescription">Description</label>
            <input asp-for="TaskDescription" type="text" class="form-control" required/>
            <span asp-validation-for="TaskDescription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TaskDate">Creation Date</label>
            <input asp-for="TaskDate" class="form-control" required/>
            <span asp-validation-for="TaskDate" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mx-2"><i class="bi bi-plus-circle"></i> &nbsp; Add Task</button>
        <a asp-controller="EmployeeTasks" asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-return-right"></i> &nbsp; Tasks</a>
    </div>
</form>

