@model EmployeeTasks

@{
    ViewData["Title"] = "Update Tasks";
}

<form method="post">
    <div class="border p-2 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary">Update Tasks</h2>
            <hr />
            <div asp-validation-summary="All"></div>
        </div>
        @if (User.IsInRole("Administrator"))
        {
            <div class="mb-3">
                <label asp-for="TaskName">Task</label>
                <input asp-for="TaskName" class="form-control"/>
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
        } else 
        {
            <div class="mb-3">
                <label asp-for="TaskName">Task</label>
                <input asp-for="TaskName" class="form-control" readonly/>
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
        }
        @if (User.IsInRole("Administrator"))
        {
            <div class="mb-3">
                <label asp-for="TaskDescription">Description</label>
                <input asp-for="TaskDescription" class="form-control" />
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
        } else {
            <div class="mb-3">
                <label asp-for="TaskDescription">Description</label>
                <input asp-for="TaskDescription" class="form-control" readonly/>
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
        }
        <div class="mb-3">
            <label asp-for="TaskDate">Creation Date</label>
            <input asp-for="TaskDate" class="form-control" disabled/>
            <span asp-validation-for="TaskDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Status" class="form-control"></label>
            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<IsComplete>()">
                <option>Select Status</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mx-2"><i class="bi bi-check2-circle"></i> &nbsp; Update</button>
        <a asp-controller="EmployeeTasks" asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-return-right"></i> &nbsp; Tasks</a>
    </div>
</form>

