@model Rewards

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-2 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Reward</h2>
            <hr />
            <div asp-validation-summary="All"></div>
        </div>
        <div class="mb-3">
            <label asp-for="Reward">Reward</label>
            <input asp-for="Reward" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="RewardDescription">Description</label>
            <input asp-for="RewardDescription" class="form-control" disabled />
        </div>
        <button type="submit" class="btn btn-danger mx-2"><i class="bi bi-x-circle"></i> &nbsp; Delete</button>
        <a asp-controller="Rewards" asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-return-right"></i> &nbsp; Rewards</a>
    </div>
</form>


