@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" method="post">
    <div class="border p-2 mt-3">
        <div class="row pb-2">
            <h2 class="text-primary">Create Role</h2>
            <hr />
            <div asp-validation-summary="All"></div>
        </div>
        <div class="mb-3">
            <label asp-for="RoleName">Role</label>
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" stlye="width:150px">Add Role</button>
        <a asp-controller="Roles" asp-action="Index" class="btn btn-secondary" style="width:150px">Return to Tasks</a>
    </div>
</form>