@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Workplace Management System!</h1>
    <img src="~/images/workplace.jpg" alt="People at a workplace" class="img-fluid border" />
</div>
<br />
<div>
    <h2 class="text-center text-primary">What is the Workplace Management System?</h2>
    <p>This web application has been created to help increase workplace efficiency. One of the ways that this application measures efficiency
        is by allowing administrators to monitor task completion. Administrators can check to see if tasks have been
        completed by their employees, and if they notice that tasks have been completed, they can delete them and add more. In the process they
        are also able to check with their employees to see who has participated in a task so that they can add to the number of completed tasks for each employee.
        Once an employee has completed a certain number of tasks, they start to qualify for items in the rewards system as well as the opportunity of being employee of the month. This system 
        is also useful for employees. Although employees do not have the same level of access as administrators, they are able to see which tasks have been completed, 
        and they are able to see what rewards are currently in the rewards system. The reward system is in place to incentivize employees to work efficienctly and finish 
        as many tasks as possible.
    </p>
    <p>If that sounds like something that you would like to use with your business, click <a asp-area="Identity" asp-page="/Account/Register">here</a> to register.</p>
</div>
