@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Workplace Management System</h1>
    <img src="~/images/workplace.jpg" alt="People at a workplace" class="img-fluid border" />
</div>
